<div class="page-header">
    <h1>{{message.title}}</h1>
</div>

<p>
    {{message.content}}
</p>

<h2>
    <span ng-pluralize count="found" when="{ '0': 'Ei vastauksia', 'one': '1 vastaus', 'other': '{{found}} vastausta' }"></span>.
</h2>

<ul class="media-list">
    <li class="media" ng-repeat="reply in message.Replies">
        <div class="media-body">
            <h4 class="media-heading">{{reply.User.username}}</h4>

            <p>
                {{reply.content}}
            </p>

            <p class="text-muted">
                {{ reply.createdAt | date : "dd/MM/yyyy 'kello' H:mm"}}
            </p>
        </div>
    </li>
</ul>


<div ng-if="userLoggedIn">
    <form>
    <h2>Lisää oma vastauksesi</h2>
    <div class="form-group">
        <label>Vastaus</label>
        <textarea class="form-control" ng-model="replyText"></textarea>
    </div>
    <button class="btn btn-success" ng-click="reply()">Lisää vastaus</button>
</form>
</div>

